on:
  workflow_call:
    inputs:
      package-path:
        description: The path to the package to publish
        default: '.'
        type: string

      sdk:
        description: See https://github.com/dart-lang/setup-dart
        default: 2.19.6
        type: string

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  sbom:
    name: Create SBOM Release Asset
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ inputs.sdk }}

      - working-directory: ${{ inputs.package-path }}
        run: dart pub get

      - name: Publish SBOM to Release Assets
        uses: anchore/sbom-action@v0
        with:
          path: ./
          format: cyclonedx-json

  publish:
    name: Publish to pub.dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ inputs.sdk }}

      - working-directory: ${{ inputs.package-path }}
        run: |
          dart pub get
          dart pub publish --force